<div class="imageBlock" id="{{ anchor }}">
    {{ #image }}<img src="{{ image }}" />{{ /image }}
    <div class="contentBlock">
        {{ #heading }}
        <div class="heading">
            <h3>{{ heading }}{{ #year }} <span class="year">{{ year }}</span>{{ /year }}</h3>
        </div>
        {{ /heading }} {{ #subheading }}
        <h4 class="subheading">{{ subheading }} </h4>{{ /subheading }} {{ #content }}
        <div class="content">
            {{{ content }}}
        </div>
        {{ /content }}

    </div>
</div>